<div class='mb-4'>
  <label class='input input-bordered flex items-center gap-2'>
    Email
    <input
      name='email'
      type='text'
      class='grow'
      autocomplete='email'
      value='{{email}}'
    />
  </label>
  {{#if error.email}}
    <div class='label'>
      <span class='label-text-alt text-red-400'>{{error.email}}</span>
    </div>
  {{/if}}
</div>
<div class='mb-4'>
  <label class='input input-bordered flex items-center gap-2'>
    Name
    <input
      name='name'
      type='text'
      class='grow'
      autocomplete='name'
      value='{{name}}'
    />
  </label>
  {{#if error.name}}
    <div class='label'>
      <span class='label-text-alt text-red-400'>{{error.name}}</span>
    </div>
  {{/if}}
</div>
<div>
  <label class='input input-bordered flex items-center gap-2'>
    Password
    <input
      name='password'
      type='password'
      class='grow'
      autocomplete='current-password'
      value='{{password}}'
    />
  </label>
  {{#if error.password}}
    <div class='label'>
      <span class='label-text-alt text-red-400'>{{error.password}}</span>
    </div>
  {{/if}}
</div>
