{{#if id}}
<div class='mt-4'>
  <div class='label'>
    <span class='label-text'>ID:</span>
  </div>
  <input class='input input-sm' name='id' value='{{id}}' disabled />
</div>
{{/if}}
<div class='mt-4'>
  <div class='label'>
    <span class='label-text'>Email:</span>
  </div>
  <input class='input input-sm {{#if error.email}}input-error{{/if}}' name='email' value='{{email}}' />
  {{#if error.email}}
  <div class='label'>
    <span class='label-text-alt text-red-400'>{{error.email}}</span>
  </div>
  {{/if}}
</div>
<div class='mt-4'>
  <div class='label'>
    <span class='label-text'>Name:</span>
  </div>
  <input class='input input-sm {{#if error.name}}input-error{{/if}}' name='name' value='{{name}}' />
  {{#if error.name}}
  <div class='label'>
    <span class='label-text-alt text-red-400'>{{error.name}}</span>
  </div>
  {{/if}}
</div>
